html[dir="ltr"] {
  .banner-desc .main-title {
    line-height: 1.2;
  }
  .banner-desc{
    max-width: 660px;
  }
  .stat-item {
    justify-content: flex-start;
    gap: 10px;
    .text {
      line-height: 1.1;
    }
  }
  @include max-768 {
    .stat-item {
      padding-inline: 10px;
      justify-content: center;
      .text {
        line-height: 1.2;
      }
    }
    .advantage-item .title-desc {
      line-height: 1.5;
    }
  }
}
