@font-face {
    font-family: 'SF Arabic';
    src: url('../../../fonts/SFArabic/SFArabic-Regular.woff2') format('woff2'),
    url('../../../fonts/SFArabic/SFArabic-Regular.woff') format('woff'),
    url('../../../fonts/SFArabic/SFArabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'SFCompactDisplay';
    src: url('../../../fonts/SFCompactDisplay/SFCompactDisplay-Regular.woff2') format('woff2'),
        url('../../../fonts/SFCompactDisplay/SFCompactDisplay-Regular.woff') format('woff'),
        url('../../../fonts/SFCompactDisplay/SFCompactDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('../../../fonts/SFCompactDisplay/SFCompactDisplay-Light.woff2') format('woff2'),
        url('../../../fonts/SFCompactDisplay/SFCompactDisplay-Light.woff') format('woff'),
        url('../../../fonts/SFCompactDisplay/SFCompactDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



